body {
  background-color: black;
  color: white;  
}

.header {
  background-color: #1d1d1f;
  padding: 1.4rem;
  text-align: start;
  font-size: 1.5rem;
  font-family: 'Helvetica', sans-serif;
}

.header .nombre{
  color: #14A1F0;
  margin-left: 0.7rem;
  
}

.header .numero {
  color: #087ec4;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.centered-content {
  background-color: black;
  margin-top: 3.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: black;
  width: 32rem;
}

.centered-content .row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: 1rem;
}

.centered-content img {
  border-radius: 50%;
  border: 0.3rem solid #14A1F0;
  width: 5.5rem;
  height: 5.5rem;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.3); /* Ajusta el factor de escala según sea necesario */
  }
}

.centered-content .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
}

.centered-content h1 {
  color: #fff;
  font-size: 1.7rem;
  margin: 0;
}
.centered-content p {
  color: #9f9999cc;
  font-size: 1rem;
  margin: 0;
}

.centered-content .info .nickname {
  color: #14A1F0;
}

